<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>경기도교육청 문의 게시판</title>
</head>
<body>
<div class="container">
    <h2>경기도교육청 문의</h2>
    <div>총 건수 : <span th:text="${#lists.size(boards)}"></span></div>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>번호</th>
            <th>제목</th>
            <th>등록날짜</th>
            <th>작성자</th>
        </tr>
        </thead>
        <tbody>
<!--       <tr th:each="board : ${boards}" >-->
                  <tr th:each="board, loop : ${paging}">
            <td th:text="${board.id}">번호</td>
            <td> <a th:text="${board.goeTitle}"th:href="@{/board(id=${board.id})}" >제목</a></td>
            <td th:text="${board.goeHelpDate}">등록날짜</td>
            <td >백귀현</td>
        </tr>
    </table>
    <!-- 페이징처리 시작 -->
    <div th:if="${!paging.isEmpty()}">
        <ul class="pagination justify-content-center">
            <li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
                <a class="page-link"
                   th:href="@{|?page=${paging.number-1}|}">
                    <span>이전</span>
                </a>
            </li>
            <li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
                th:classappend="${page == paging.number} ? 'active'"
                class="page-item">
                <a th:text="${page}" class="page-link" th:href="@{|?page=${page}|}"></a>
            </li>
            <li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
                <a class="page-link" th:href="@{|?page=${paging.number+1}|}">
                    <span>다음</span>
                </a>
            </li>
        </ul>
    </div>
    <!-- 페이징처리 끝 -->





    <div class="text-right">
        <button type="button" class="btn btn-primary" id="updateDetails">문의 등록</button>
    </div>
</div>
<dialog id="favDialog">
    <form method="post" th:action="@{/board/form}"  th:object="${board}">
        <table>
            <tr>
                <th scope="row"><label for="goe_title">제목</label></th>
                <td><input type="text" id="goe_title" name="goe_title" class="long" required=""></td>
            </tr>
            <tr>
                <th scope="row"><label for="goe_user_name">문의자</label></th>
                <td><input type="text" id="goe_user_name" name="goe_user_name" required="" class="shot"></td>
                <th scope="row"><label for="goe_school_name">소속학교</label></th>
                <td><input type="text" id="goe_school_name" name="goe_school_name" required="" class="shot"></td>
            </tr>
            <tr>
                <th scope="row">
                    <label for="goe_user_phone">연락처</label>
                </th>
                <td class="ph">
                    <select name="goe_user_phone" id="goe_user_phone">
                        <option value="010">010</option>
                        <option value="011">011</option>
                        <option value="016">016</option>
                        <option value="017">017</option>
                    </select> <span class="dash">-</span>
                    <input type="text" name="goe_user_phone" class="number" id="hp2" required="" maxlength="4"> <span class="dash">-</span>
                    <input type="text" name="goe_user_phone" class="number" id="hp3" required="" maxlength="4">
                    <input type="hidden" name="wr_1" class="wr_1" required="">
                </td>
            </tr>
            <tr>
                <th scope="row"><label for="goe_help_content">문의내용</label></th>
                <td>
                    <textarea name="goe_help_content" id="goe_help_content" cols="40" rows="20" required=""></textarea>
                </td>
            </tr>
        </table>
        <button type="button" value="cancel">취소</button>
        <button type="submit" id="confirmBtn" value="default">확인</button>
    </form>
</dialog>



</body>
<script th:src="@{/lib/form.js}" ></script>
</html>